<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="fs-1 p-3 text-center fw-bold bg-success">DEMO APPLICATION</div>
<div th:insert="~{template/fragment/header :: header}"></div>
<div class="container-fluid bg-dark" style="height: 462px">
    <div class="container w-50 h-100">
        <div th:insert="~{template/fragment/carousel :: carousel}"></div>
    </div>
</div>
<div style="height: 100px"></div>
<div th:insert="~{template/fragment/footer :: footer}"></div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>