<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div th:insert="~{template/fragment/header :: header}"></div>
<div class="container" style="height: 100vh">
    <div class="h2 mb-3">게시판</div>
    <form th:action="@{/board/{number}/modify(number=${board.no})}" method="post">
        <input type="text" class="form-control w-75 mb-2" placeholder="제목을 입력해 주세요" name="title" th:value="${board.title}">
        <div class="form-text mb-3">&nbsp;&#8251; 건전한 게시판 이용 문화를 만들어 나갑시다.</div>
        <textarea class="form-control" rows="8" style="min-height: 300px;" name="content" th:text="${board.content}">

        </textarea>
        <div class="d-flex mt-2">
            <button type="submit" class="btn btn-success me-2">수정</button>
            <button class="btn btn-secondary" type="button" th:onclick="|location.href='@{/board/{no}(no=${board.no})}'|">취소</button>
        </div>
        <div th:insert="~{template/fragment/footer :: footer}" style="margin-top: 400px"></div>
    </form>
</div>

</body>
</html>